<included>
  <!--
  ## "org/springframework/boot/logging/logback/console-appender.xml"에 정의되어 있는 appender는 다음과 같다.
  	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>${CONSOLE_LOG_CHARSET}</charset>
		</encoder>
	</appender>

	그리고 저기서 사용하는 ${CONSOLE_LOG_PATTERN}과 ${CONSOLE_LOG_CHARSET}은
	logback-spring.xml에서 include한
	"org/springframework/boot/logging/logback/defaults.xml"에 정의되어 있다.
  -->
  <property resource="logback-variables.properties" />
  <appender name="CONSOLE3" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <layout>
      <pattern>
        ${LOG_PATTERN}
      </pattern>
    </layout>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="CONSOLE3" />
  </root>

</included>

  <!--
  %-5level : 빈칸을 포함하여 5자리를 출력 ex) "INFO_" , "DEBUG"
  %logger{0} : 패키지를 재외하고 해당 클래스만 출력
  %logger{n} : n자리 이하까지 패키지를 포함하여 출력 + 자세한 건 아래 예시 참고 !
  %line : 로그를 출력하는 line number 출력
  -->

  <!--
   0 : DemoController
  30 : d.b.l.c.DemoController
  35 : d.b.l.controller.DemoController
  36 : d.b.l.controller.DemoController
  37 : d.b.logback.controller.DemoController
  38 : d.be.logback.controller.DemoController
  39 : d.be.logback.controller.DemoController
  40 : dev.be.logback.controller.DemoController

  logback : 7글자
  controller : 10글자
  DemoController : 14글자

  d.be.logback.controller.DemoController : 38글자
  dev.be.logback.controller.DemoController : 40글자
  %logger{38} 혹은 %logger{39}로 설정하면
  가장 앞에 dev를 포함하기엔 글자 수가 부족하다.
  그러므로 dev에서 d만 출력한다.

  %logger{40}으로 설정하면
  이제는 모든 패키지의 Path를 Full로 출력이 가능하므로
  "dev.be.logback.controller.DemoController" 출력이 된다.
  -->